h2 {
  font-size: 2rem;
  color: #67bce6;
}

form {
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  text-align: left;
}

.form-element {
  margin-bottom: 1rem;
}

input, textarea {
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem;
  border: 1px solid #cccccc;
}