main {
  padding: 2rem;
  font-family: Arial;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #c5c505;
}

nav {
  margin-top: 1rem;
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #0070f3;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}